In [2]:
price =5000
price *=0.85
price

4250.0

In [12]:
sort= [1,1,2,3,4,5]
data = {'a':[1,1,2,3,4,5,],'b':[i*2 for i in sort],'c':[i**2 for i in sort],'d':[1,1,1,2,2,2]}

import pandas as pd

df = pd.DataFrame(data)
df.head()
df.groupby(by = 'd')['b'].mean()

d
1    2.666667
2    8.000000
Name: b, dtype: float64

In [17]:
basic = ['안녕','하세요','입니다']
basic_i = [i +'_'+str(j) for j, i in enumerate(basic)]
basic_i

['안녕_0', '하세요_1', '입니다_2']

In [3]:
(800*110)/1000

88.0

In [4]:
family = ['mother','father','gentleman','lady']

In [5]:
len(family)

4

In [8]:
family.remove('gentleman')

In [10]:
print("직각삼각형 그리기\n")
leg = int(input("변의 길이 :"))

for i in range(leg):
    print("*" * (i+1))
    
area = (leg**2)/2
area

직각삼각형 그리기

변의 길이 :4
*
**
***
****

8.0

In [13]:
number = int(input("숫자 :")) #input은 str로 받음
print(number **2)

숫자 :3
9